                               Data Types and Structures


Q1 What are data structures, and why are they important?

Answer::-Data structures are ways of organizing and storing data in a computer so it can be accessed and used efficiently.They are important because they help optimize data processing, improve performance, and make it easier to manage and manipulate data in software development.

Q2  Explain the difference between mutable and immutable data types with examples?

Answer::-Mutable data types can be changed after they are created, while immutable data types cannot be changed once created.

Mutable Example:

List:-

                    my_list = [1, 2, 3]
                    my_list.append(4)  # Now my_list is [1, 2, 3, 4]

Immutable Example:

                     Tuple in Python:-my_tuple = (1, 2, 3)
                     my_tuple[0] = 4  # Error: 'tuple' object does not support item assignment


Q3  What are the main differences between lists and tuples in Python?

Answer::-Lists :-are mutable, use `[]`, and are slower but flexible.
Tuples :-are immutable, use `()`, and are faster but fixed.

Example:
            # List
            my_list = [1, 2, 3]
            my_list.append(4)  #Works
            
            # Tuple
            my_tuple = (1, 2, 3)
            my_tuple[0] = 4    #Error: Tuples are immutable

Q4  Describe how dictionaries store data

Answer::-Dictionaries store data as key-value pairs. Each key is unique and maps to a value.They use a hash table internally, which allows for fast lookups, insertions, and deletions.

Example:-

        my_dict = {"name": "Alice", "age": 25}

        "name" and "age" are keys
        "Alice" and 25 are their corresponding values

Q5 Why might you use a set instead of a list in Python?
Answer::-You might use a set instead of a list when you want to:
* Ensure all elements are unique (no duplicates).
* Perform faster membership tests (`in` checks).
* Use set operations like union, intersection, and difference efficiently.

Q6 What is a string in Python, and how is it different from a list?

Answer::-A string in Python is a sequence of characters used to represent text, enclosed in quotes (e.g., "hello").
Differences from a list: Strings are immutable (can’t be changed), while lists are mutable. Strings hold characters, lists can hold any data type.
Strings support text-specific operations, lists support general data operations.

Example:-

        s = "hello"
        s[0] = "H"  #Error, strings are immutable

        lst = ['h', 'e', 'l', 'l', 'o']
        lst[0] = 'H'  #Works, lists are mutable

Q7  How do tuples ensure data integrity in Python?

Answer::-Tuples ensure data integrity in Python because they are immutable, meaning once created, their contents cannot be changed. This prevents accidental modification of data, making tuples ideal for storing fixed collections of values that should stay constant.

Q8 What is a hash table, and how does it relate to dictionaries in Python?

Answer::-A hash table is a data structure that stores data using a hash function to compute an index (or hash) where the value is stored, enabling fast data lookup.
In Python dictionaries are implemented using hash tables. Each key is hashed to quickly find its corresponding value, which makes dictionary operations like lookup, insertion, and deletion very efficient.

Q9 Can lists contain different data types in Python?

Answer::-Yes Lists in Python can contain different data types in the same list.
For example:
            
            my_list = [1, "hello", 3.14, True]

Q10 Explain why strings are immutable in Python?

Answer::-Strings are immutable in Python to ensure data integrity and performance. Since strings are used widely and often shared, immutability prevents accidental changes that could cause bugs. It also allows Python to optimize memory usage by reusing string objects safely.


Q11 What advantages do dictionaries offer over lists for certain tasks?

Answer::-Dictionaries offer these advantages over lists for certain tasks:

* Fast lookups by key (usually faster than searching a list).
* Key-value storage, allowing direct access to data via meaningful keys instead of numeric indexes.
* Flexible data organization, useful when you need to associate related information together.

Q12 Describe a scenario where using a tuple would be preferable over a list?

Answer::-Using a tuple is preferable when you want to store a fixed set of values that shouldn’t change, such as:
* Representing coordinates (e.g., `(x, y)` points).
* Storing data that must remain constant for safety, like RGB color values `(255, 0, 0)`.
* Using tuples as keys in dictionaries (since lists can’t be keys).

Q13 How do sets handle duplicate values in Python?

Answer::-In Python sets automatically remove duplicate values each element appears only once. When you add duplicates to a set, only one copy is kept.

Q14 How does the “in” keyword work differently for lists and dictionaries?

Answer::-The `in` keyword works like this:

* In lists: Checks if a value exists by searching through each item(slower, linear time).
* In dictionaries: Checks if a key exists by using a hash lookup (faster, near constant time).

Q15 Can you modify the elements of a tuple? Explain why or why not?

Answer::-No you can’t modify elements of a tuple because tuples are immutable in Python. Once created, their contents cannot be changed, which helps ensure data integrity and makes tuples reliable for fixed data collections.

Q16 What is a nested dictionary, and give an example of its use case?

Answer::-A nested dictionaryis a dictionary where some values are themselves dictionaries. It lets you store complex, hierarchical data.

Example use case:

                Storing information about students and their grades in different subjects:
                students=
                {
                    "Alice": {"Math": 90, "English": 85},
                    "Bob": {"Math": 75, "English": 92}
                }

Q17 Describe the time complexity of accessing elements in a dictionary?

Answer::-Accessing elements in a dictionary has an average time complexity of O(1) because it uses a hash table for direct key lookup.In rare cases with many hash collisions, it can degrade to O(n) but this is uncommon due to Python’s efficient hashing.

Q18 In what situations are lists preferred over dictionaries?

Answer::-Lists are preferred over dictionaries when:
* You need ordered data or care about the position/index of elements.
* You work with simple sequences without key-value pairs.
* You require duplicates to be allowed and preserved.
* You want to iterate through items in order easily.

Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer::-Dictionaries are considered unordered because, before Python 3.7,they didn’t maintain the order of items as inserted. This means the order of keys could change, so you couldn’t rely on retrieval order.
* You access items by key, not position so the order doesn’t matter.
* If order matters, you’d use other structures like lists or `OrderedDict`

Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

Answer::-List:Data is retrieved by index position  which is an integer. Retrieval is based on the order of elements.

Dictionary:Data is retrieved by unique keys which can be strings, numbers, etc. Retrieval is direct via hashing, not by order. So, lists use **numeric indexing .

In [ ]:
#Practical Questions
#Q1 Write a code to create a string with your name and print it
string="vaibhav Khairnar"
string

'vaibhav Khairnar'

In [ ]:
#Q2 Write a code to find the length of the string "Hello World"
print(len("hello world"))

11

In [ ]:
#Q3  Write a code to slice the first 3 characters from the string "Python Programming"
string='python programming'
string2=string[:3]
string2

'pyt'

In [ ]:
#Q4 Write a code to convert the string "hello" to uppercase
string="HELLO"
string.upper()

'HELLO'

In [ ]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"
old_string='I like apple'
new_string=old_string.replace('apple','orange')
new_string

'I like orange'

In [ ]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [ ]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [ ]:
#Q8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [ ]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a', 'b', 'c', 'd']
list[1]

'b'

In [ ]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50].
list= [10, 20, 30, 40, 50]
list.reverse()
list

[50, 40, 30, 20, 10]

In [ ]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
tuple

(100, 200, 300)

In [ ]:
#Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red', 'green', 'blue', 'yellow')
tuple[2]

'blue'

In [ ]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).'
tuple=(10, 20, 5, 15)
min(tuple)

5

In [ ]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
zoo=('dog', 'cat', 'rabbit')
for i in range(len(zoo)):
    if(zoo[i]=='cat'):
        print(i)

1

In [ ]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=('apple','orange','banana','kiwi')
for i in range(len(tuple)):
    if(tuple[i]=='kiwi'):
        print(tuple[i],f"Is there ")

kiwi Is there

In [ ]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
s

{'a', 'b', 'c'}

In [ ]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1={1, 2, 3, 4, 5}
print('befor clear',set)
set1.clear()
print('after clear',set)

befor clear {1, 2, 3}
after clear {1, 2, 3}

In [ ]:
#Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1, 2, 3, 4}
print('befor remove',set)
set1.remove(4)
print('after remove',set)

befor remove {1, 2, 3}
after remove {1, 2, 3}

In [ ]:
#Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set3=set1.union(set2)
set3

{1, 2, 3, 4, 5}

In [ ]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1, 2, 3}
set2={2, 3, 4}
set3=set1.intersection(set2)
set3

{2, 3}

In [ ]:
#Q21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dist={
    "name":"Vaibhav khairnar",
    "age":22,
    "city":"Pune"
  }
print(dist)

{'name': 'Vaibhav khairnar', 'age': 22, 'city': 'Pune'}

In [ ]:
#Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary= {'name': 'John', 'age': 25}
dictionary["country"]="USA"
dictionary

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
from os import name
#Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary={'name': 'Alice', 'age': 30}
dictionary["name"]

'Alice'

In [ ]:
#Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del(dictionary["age"])
dictionary

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}
for i in dictionary:
  if(i=="city"):
    print("Exists In dictionary")

Exists In dictionary

In [ ]:
#Q26 Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,3,4,5,"Vaibhav","Pune"]
tuple=(1,2,3,4,5,"Vaibhav","Pune")
dictionary = {'name': 'Alice', 'city': 'Paris'}
print(f"list={list} \ntuple={tuple} \ndictionary={dictionary}")

list=[1, 2, 3, 4, 5, 'Vaibhav', 'Pune']
tuple=(1, 2, 3, 4, 5, 'Vaibhav', 'Pune')
dictionary={'name': 'Alice', 'city': 'Paris'}

In [ ]:
#Q27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random  #random module ko import karna padta hai numbers generate karne ke liye

# 5 random numbers generate karna 1 se 100 ke beech
random_numbers = [random.randint(1, 100) for _ in range(5)]

#List ko ascending order mein sort karna
random_numbers.sort()

#Result print karna
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [15, 39, 52, 56, 60]

In [ ]:
#Q28 Write a code to create a list with strings and print the element at the third index.
list=["vaibhav","pune","nashik","nandurbar"]
list[2]

'nashik'

In [ ]:
#Q29 Write a code to combine two dictionaries into one and print the result.
dictionary1 = {'name': 'Alice', 'city': 'Paris'}
dictionary2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary3=dictionary1|dictionary2
dictionary3

{'name': 'Bob', 'city': 'New York', 'age': 22}

In [1]:
#Q30 Write a code to convert a list of strings into a set.
my_list=["vaibhav","pune","nashik","nandurbar"]
my_set=set(my_list)
my_set

{'nandurbar', 'nashik', 'pune', 'vaibhav'}